@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Righteous", sans-serif;
}


html {
  scroll-behavior: smooth;
}
@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin.slow {
  animation: spin-slow 5s linear infinite; /* Adjust the duration (3s) as needed */
}
/* Prevent overflow */

/* Ensure the Swiper container does not overflow */

.swiper-pagination {
  position: absolute; /* Ensure it is positioned correctly */
  bottom: 10px; /* Adjust position */
  left: 50%;
  transform: translateX(-50%); /* Center it */
  z-index: 10; /* Make sure it appears above other elements */
}

.swiper-pagination-bullet {
  background: #4caf50; /* Change to desired bullet color */
  opacity: 0.5; /* Default opacity */
  transition: opacity 0.3s; /* Transition for opacity change */
}

.swiper-pagination-bullet-active {
  opacity: 1; /* Active bullet opacity */
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
}

@keyframes shake {
  0% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(-5px);
  }
  50% {
      transform: translateX(5px);
  }
  75% {
      transform: translateX(-5px);
  }
  100% {
      transform: translateX(0);
  }
}

.bounce-animation {
  animation: bounce 1s infinite;
}

.shake-animation {
  animation: shake 3s infinite;
}


/* Add this to your global styles or a specific CSS module */
@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.zoom-animation {
  animation: zoom 2s infinite;
}

/* Example of additional custom styles in your global CSS file */
.scrollbar {
  scrollbar-width: thin; /* Firefox */
}

.scrollbar::-webkit-scrollbar {
  width: 8px; /* Chrome, Safari and Opera */
}

.scrollbar::-webkit-scrollbar-track {
  background: #1f1f1f; /* Track */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a4a4a; /* Thumb */
  border-radius: 10px; /* Rounded corners */
}
